@charset  "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&family=Sriracha&display=swap');

    body, html{

    min-height: 100vh;

    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    
    background-color: black;
    color: white ;
    text-align: center;
    

}
header > h1 {
    
    font-family: 'Passion One', cursive;
    
    font-size: 10vw;
   
    text-align: center;
    padding-top: 50px;
    margin: 0px;
   
    font-variant: small-caps;


}
 a{
    color: white;
    
    text-decoration: none ;
    display: block;
   
    font-weight: bolder; 
    display: inline;
    
   
    
}

a:hover{

    text-decoration: underline;
}
header > p{
    padding-bottom: 50px;
    color: white;
    font-size: 12px;
    margin-bottom: 0px;
    
    
 


}

article{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
   
}
article > p {
    font-family: 'Sriracha', cursive;
    font-size: 3.5vw;
    line-height: 2em;
    margin: 0px;
}

.imagen1{
   background-image: url(pacote-d012/imagens/background001.jpg);
   background-repeat: no-repeat;
   background-position: right center;
   background-size: cover;
   background-attachment :fixed;
   

   color: white;
   
}
.imagen1 > p{
    display: inline-block;
    background-color:  rgba(0, 0, 0, 0.514);
    padding: 5px;
    
}
.doisparagrafo > p{
    margin-bottom: 80px;

}

.imagen2{
    background-image: url(pacote-d012/imagens/background002.jpg) ;
    background-repeat: no-repeat;
   background-position: center right;
   background-size: cover;
   background-attachment :fixed;
   

   color: white;
   
}
.imagen2 > p{
    display: inline-block;
    background-color:  rgba(0, 0, 0, 0.514);
    padding: 5px;
    

}
.ultimos > p{
    margin-bottom: 80px;

}
footer{
    background-color: black;
    color: white; 
    text-align: center;
    padding: 10px;
}

